sudo: false
language: perl
perl:
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
install:
  - cpanm --quiet --notest git://github.com/interchange/Interchange6.git
  - cpanm --quiet --notest git://github.com/interchange/interchange6-schema.git
  - cpanm --quiet --notest DBD::Pg Test::PostgreSQL@1.06 DBD::mysql Test::mysqld DateTime::Format::Pg Test::Roo
  - cpanm --quiet --installdeps --notest .
